/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*{
    font-family: 'Open Sans Condensed', sans-serif;
}

/*burgermenu*/
.topnav{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #595958;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #ffffff;
    display:block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #ffffff;
    color: #ffffff;
}

/*Burgermenu Sociale medier*/
.burgermenu-sociale-medier {
    display: flex;
    justify-content: center;

 }

/*Portfolio navn*/
.portfolio-navn { 
    display: flex;
    justify-content: center;
    color: #595958;
    font-size: 18pt;
    margin-top: 0.3rem;
}
/*Forside*/
/*Billdere på forside*/
.forside1 {
    margin-right: 1rem;
    margin-left: 1rem;
}
.forside2{
    margin-right: 1rem;
    margin-left: 0.3rem;
}

.forside3{
    margin-right: 1rem;
    margin-left: 1rem;
}

/*Overskrift*/
.billedetekst {
    display: flex;
    justify-content: center;
    color: #595958;
    font-size: 22px;
    font-weight: bold;
}
/*Hjemmeside*/
/*Hjemmeside billedere*/
.hjemmeside1 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside2 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside3 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside4 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Streg hjemmeside*/
.streg-hjemmeside {
    margin-left: 1.5rem;
    height: 2px; 
    justify-content: center;
    width: 330px; 
    background-color:#595958
}

/*Overskrift dans 1*/
.tekst-overskrift {
    color: #595958;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.hjemmeside-dans1 {
    margin-left: 5.5rem;
}

/*Lang tekst til dans 1*/
.tekst-dans1 {
    color: #595958;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 20px;
}

/*Se mere hjemmeside*/
.Se-hele-hjemmesiden {
    color: #595958;
    margin-right: 1rem;
    margin-left: 3rem;
    float: left;
    font-weight: bold;
    font-size: 13.5px;
}

/*logo til dans 1*/
.logo-til-dans1 {
    margin-left: 9rem;
}

/*se mere tekst*/
.se-mere-dans1 {
    color: #595958;
    margin-right: 1rem;
    float: right;
}

.se-mere-dans2 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

.se-mere-bagrettet1 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

.se-mere-bagrettet2 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}


/*Om mig hjemmeside*/
.midder-billede {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
}

.billeder1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

.billeder2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    width: 80%;
    display: inline;
}

.billeder3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

.billeder4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

/*Kontakt på om mig siden*/
.kontakt-email {
    display: flex;
    justify-content: center;
    color: #595958;
}

.kontakt-nummer {
    display: flex;
    justify-content: center;
    color: #595958;
}

/*Video Hjemmside*/
.video {
    display: flex;
}

/*video se mere teskt*/
.se-mere-video {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Slideshow Thailand*/
.mySlides {
    margin-left: 2.5rem;
}

.button-left {
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border: none;
    font-size: 17pt;
}

.button-right {
    background-color: #ffffff;
    border: none;
    font-size: 17pt;
}
/*Slideshow Natur*/
.mySlides2 {
    margin-left: 2.5rem;
}

.button-left2 {
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border: none;
    font-size: 17pt;
}

.button-right2 {
    background-color: #ffffff;
    border: none;
    font-size: 17pt;
}

/*Streg på midten af billedesiden*/
.streg-billede {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    height: 2px; 
    justify-content: center;
    width: 330px; 
    background-color:#595958
}

/*Se mere tekst på billede*/
.se-mere-thailnad {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

.se-mere-natur {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

/*footer*/
.streg {
    margin-left: 1rem;
    height: 2px; 
    justify-content: center;
    width: 330px; 
    background-color:#595958
}

.footer {
    display: flex;
    color: #595958;
    font-size: 15pt;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
}

/*Sociale medier*/
.sociale-medier {
    margin-right: 1rem;
    display: flex;
    float: right;
}

/*Copyright*/
.copyright {
    display: flex;
    color: #595958; 
    font-size: 13pt;
    justify-content: center;
    width: 100%
}

/* Media sreen 1920 x 1080 */
@media screen and (min-width: 1080px) {

/*Burgermenu*/
    .topnav {
       overflow: visible;
    }
    .fa.fa-bars {
        display: none;
    }
    .topnav #myLinks {
        display: flex;
        float: right;
        margin-top: 1rem;
    }
    .topnav a {
        font-size: 30pt;
    }
    .burgermenu-sociale-medier {
        display: none;
    }

/*Portfolio navn*/
    .portfolio-navn {
        float: left;
        font-size: 35pt;
        margin-top: 1rem;
        margin-left: 1rem;
    }
/*Forside*/
    .forside1 img{
        display: inline;
        width: 32%;
        position: absolute;
        margin-top: 15rem;
        margin-left: -30rem;
    }

    .forside2 img {
        display: inline;
        width: 32%;
        margin-bottom: 10rem;
        margin-top: 10rem;
        margin-left: 40rem;
    }

    .forside3 img {
        display: inline;
        width: 32%;
        position: absolute;
        margin-bottom: 10rem;
        margin-top: 10rem;
        margin-left: -5rem;
    }

    .streg-hjemmeside {
        margin-left: 6rem;
        width: 1750px;
    }
/*Overskrift*/
    .billedetekst {
        margin-top: 6rem;
        font-size: 44pt;
    }
/*Hjemmeside*/
    .hjemmeside1 {
        margin-left: 53rem;
        margin-right: 1rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .hjemmeside2 {
        margin-left: 53rem;
        margin-right: 1rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .hjemmeside3 {
        margin-left: 53rem;
        margin-right: 1rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .hjemmeside4 {
        margin-left: 53rem;
        margin-right: 1rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .se-mere-dans1 {
        margin-right: 50rem;
        float: right;
        margin-top: 5rem;
    }
    .se-mere-dans2 {
        margin-right: 50rem;
        float: right;
        margin-top: 5rem;
    }
    .se-mere-bagrettet1 {
        margin-right: 50rem;
        float: right;
        margin-top: 5rem;
    }
    .se-mere-bagrettet2 {
        margin-right: 50rem;
        float: right;
        margin-top: 5rem;
    }
/*Video hjemmeside*/
    .video { 
        margin-left: 48rem;
    }

    .se-mere-video {
        margin-right: 50rem;
        float: right;
    }
/*Om mig hjemmside*/
    .midder-billede {
        margin-top: 10rem;
        margin-left: 50rem;
    }
    .billeder1 {
        margin-left: 30rem;
        position: absolute;
    }
    .billeder2 {
        margin-left: 10rem;
        position: absolute;
    }
    .billeder3 {
        margin-left: 80rem;
        position: absolute;
    }
    .billeder4 {
        margin-left: 100rem;
        position: absolute;
    }

    .kontakt-email {
        font-size: 25pt;
    }

    .kontakt-nummer {
        font-size: 25pt;
    }

/*Hjemmeside billedere*/
    .mySlides {
        margin-left: 50rem;
    }

    .mySlides2{
        margin-left: 50rem;
    }

    .button-left {
        margin-left: 58rem;
    }

    .button-left2 {
        margin-left: 58rem;
    }

    .streg-billede {
        margin-left: 4rem;
        width: 1750px
    }

    .se-mere-thailnad {
        margin-right: 50rem;
        float: right;
    }

    .se-mere-natur {
        margin-right: 50rem;
        float: right;
    }

/*Fotter*/
    .copyright {
        font-size: 25pt;
    }
    .sociale-medier {
        margin-right: 5rem;
    }
    .streg {
        margin-left: 6rem;
        width: 1750px;
    }
    .footer {
        font-size: 28pt;
        margin-left: 4rem;
    }

}
