/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*{
    font-family: 'Open Sans Condensed', sans-serif;
}

/*burgermenu*/
.topnav{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #595958;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #ffffff;
    display:block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #ffffff;
    color: #ffffff;
}

/*Burgermenu Sociale medier*/
.burgermenu-sociale-medier {
    display: flex;
    justify-content: center;

 }

/*Portfolio navn*/
.portfolio-navn { 
    display: flex;
    justify-content: center;
    color: #595958;
    font-size: 18pt;
    margin-top: 0.3rem;
}

/*Billdere på forside*/
.forside {
    margin-right: 1rem;
    margin-left: 1rem;
}
/*Overskrift*/
.billedetekst {
    display: flex;
    justify-content: center;
    color: #595958;
    font-size: 22px;
    font-weight: bold;
}

/*Hjemmeside billedere*/
.hjemmeside1 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside2 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside3 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hjemmeside4 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Overskrift dans 1*/
.tekst-overskrift {
    color: #595958;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 19px;
}

/*Lang tekst til dans 1*/
.tekst-dans1 {
    color: #595958;
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 20px;
}

/*Se mere hjemmeside*/
.Se-hele-hjemmesiden {
    color: #595958;
    margin-right: 1rem;
    margin-left: 3rem;
    float: left;
    font-weight: bold;
    font-size: 13.5px;
}

/*logo til dans 1*/
.logo-til-dans1 {
    margin-left: 9rem;
}

/*se mere tekst*/
.se-mere-dans1 {
    color: #595958;
    margin-right: 1rem;
    float: right;
}

.se-mere-dans2 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

.se-mere-bagrettet1 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}

.se-mere-bagrettet2 {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
}


/*Billedere af mig*/
.midder-billede {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
}

.billeder1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

.billeder2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    width: 80%;
    display: inline;
}

.billeder3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

.billeder4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
    display: inline;
}

/*Kontakt*/
.kontakt-email {
    display: flex;
    justify-content: center;
    color: #595958;
}

.kontakt-nummer {
    display: flex;
    justify-content: center;
    color: #595958;
}

/*Video*/
.video {
    display: flex;
}

/*video se mere teskt*/
.se-mere-video {
    color: #595958;
    margin-right: 1rem;
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Billedere show jeg har taget*/

/*footer*/
.footer {
    display: flex;
    color: #595958;
    font-size: 15pt;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
}

/*Sociale medier*/
.sociale-medier {
    margin-right: 1rem;
    display: flex;
    float: right;
}

/*Copyright*/
.copyright {
    display: flex;
    color: #595958; 
    font-size: 15pt;
    justify-content: center;
    width: 100%
}

